.BookmarkSection {
  margin-bottom: 175px;
}

.BookmarkSection .img-container {
  position: relative;
  margin-bottom: 75px;
  max-width: 750px;
  margin: 0 auto;
}

.BookmarkSection img {
  width: 85%;
  display: block;
  margin: 0 auto;
}

.BookmarkSection .blue-background {
  height: 200px;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  top: 16%;
  right: 20%;
  left: -100%;
  height: 100%;
  z-index: -1;
  border-radius: 140px;
}

.BookmarkSection .content-container {
  margin-top: 25px;
  display: inline-block;
}

.BookmarkSection a {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px;
  margin: 35px 25px;
}

.BookmarkSection a:hover {
  background-color: #fff;
  outline: 2px hsl(231, 69%, 60%) solid;
  color: hsl(231, 69%, 60%);
}

@media only screen and (min-width: 1440px) {
  .BookmarkSection {
    display: flex;
  }

  .BookmarkSection .img-container {
    flex: 1.25;
  }

  .BookmarkSection .content-container {
    flex: 1;
    text-align: left;
    margin-top: 0;
  }

  .BookmarkSection .blue-background {
    left: -100%;
  }
}
