.FAQSection ul {
  margin: 50px 0;
}

.FAQSection li {
  padding: 7px 0;
  margin: 0 25px;
  border-bottom: 1px rgb(202, 202, 202) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.FAQSection li h3 {
  font-size: 14px;
}

.FAQSection button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.FAQSection a {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px;
}

@media only screen and (min-width: 1440px) {
  .FAQSection {
    width: 550px;
    display: inline-block;
    margin: 0 auto;
  }

  .FAQSection li:first-child {
    border-top: 1px rgb(202, 202, 202) solid;
  }
}
