.SimpleBookmarkSection {
  text-align: center;
}

.SimpleBookmarkSection .img-container {
  position: relative;
}

.SimpleBookmarkSection img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.SimpleBookmarkSection .blue-background {
  height: 200px;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  top: 15%;
  left: 20%;
  right: -200px;
  height: 85%;
  z-index: -1;
  border-radius: 140px;
}

.SimpleBookmarkSection ul {
  display: flex;
  justify-content: center;
}

.SimpleBookmarkSection li {
  margin: 20px 10px;
}
