.Footer {
  background-color: hsl(229, 31%, 21%);
  text-align: center;
  padding: 25px 0;
}

.Footer ul {
  list-style: none;
  padding: 0;
}

.Footer li {
  margin: 30px 0;
}

.Footer a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.Footer .social-media-container * {
  display: inline;
  margin: 0 10px;
  margin-top: 25px;
}

@media only screen and (min-width: 1440px) {
  .Footer {
    padding: 0 100px;
    justify-content: space-between;
  }

  .Footer,
  .Footer ul,
  .Footer div {
    display: flex;
    align-items: center;
  }

  .Footer li {
    margin: 15px 0;
  }

  .Footer div * {
    margin-right: 20px;
  }

  .Footer .social-media-container * {
    margin-top: 0;
  }
}
