.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 40px;
}

.Header button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.Header button img {
  width: 25px;
}

@media only screen and (min-width: 1440px) {
  .Header {
    margin: 0 100px;
  }

  .Header button {
    display: none;
  }

  .Header ul {
    padding: 0;
    list-style: none;
  }

  .Header li {
    display: inline;
    margin: 0 20px;
  }
}
