.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 40px;
}

.Header button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.Header button img {
  width: 25px;
}
