.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 40px;
}

.Header button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.Header button img {
  width: 25px;
}

@media only screen and (min-width: 1440px) {
  .Header {
    margin: 0 100px;
  }

  .Header button {
    display: none;
  }

  .Header ul {
    padding: 0;
    list-style: none;
  }

  .Header li {
    display: inline;
    margin: 0 20px;
  }

  .Header a {
    text-decoration: none;
    color: #222;
  }

  .Header .login {
    color: #fff;
    background-color: hsl(0, 94%, 66%);
    padding: 10px 30px;
    border-radius: 5px;
  }

  .Header a:hover {
    color: hsl(0, 94%, 66%);
  }

  .Header .login:hover {
    background-color: #fff;
    border: 2px hsl(0, 94%, 66%) solid;
    border-radius: 5px;
    margin: -2px;
  }

  .Header a,
  .Header .login {
    transition: color 0.2s ease-out;
  }
}
