.PageBody {
  text-align: center;
}

.PageBody h2 {
  font-size: 26px;
  margin: 20px;
  margin-top: 50px;
}

.PageBody p {
  margin: 0 25px;
}

.PageBody ul {
  list-style: none;
  padding: 0;
}

@media only screen and (min-width: 1440px) {
  .PageBody section {
    margin: 50px 100px;
  }

  .PageBody h2 {
    font-size: 32px;
  }

  .PageBody p {
    font-size: 18px;
  }
}
